@import "materialize";

body {
  background-image: url("backgroundimg.jpeg");
  width: 100vw;
  margin-bottom: 200px;
}


.page-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  height: 20vh;
  a {
    color: white;
  }
}

.well {
   background-color: rgba(58, 48, 49, 0.8);
   height: 80%;
   margin-top: 10%;
   margin-bottom: 25%;
   position: relative;
   padding: 3%;
}

.homeStyle {
  h1 {font-size: 10em;
  color: white;
  text-align: center;
  margin-top: 30%;}
  h2 {
    font-size: 4.3em;
    color: white;
    text-align: center;
    margin-top: -20px;
  }
}

.centerText {
  text-align: center;
}

.card-image {
  height: 300px;
  overflow: hidden;
}

.chip {
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
  padding-top: 3px;
}

.card-content {
  color:black;
}

#topMargin {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bigLink {
  font-size: 50px;
  color: white;
}

.bgWhite {
  background-color: white;
  margin: 35px;
  padding: 15px;
}

.centerHeader {
  padding-top: 25px;
  color: white;
  text-align: center;
  a {
    text-align: center;
  }
}

.resizeImg {
  width: 50%;
  height: auto;
  margin-left: 25%;
  padding-top: 4%;
}

.floatRight {
  float: right;
  font-size: 25px;
}

.siteTitle {
  font-size: 10em;
  color: white;
  text-align: center;
  margin-bottom: -80px;
  a:visited {
    color: white;
  }
  a:active {
    color: white;
  }
}
